<div class="enitity-list-container">
  <div class="enitity-list-wrapper" *ngFor="let enitity of entities">
    <div class="enitity-list-item">
      <div class="eli-el" [routerLink]="[baseEditUrl, enitity.id]">
        <div class="eli-el-title">{{ enitity.title }}</div>
        <div class="eli-el-description">{{ enitity.description }}</div>
      </div>
      <div class="eli-el">
        <select name="status" id="status" class="eli-el-status">
          <option value="Status.PUBLISHED">{{Status.PUBLISHED}}</option>
          <option value="Status.DRAFT">{{Status.DRAFT}}</option>
        </select>
      </div>
      <div class="eli-el">
        <button class="eli-el-delete-btn">Delete</button>
      </div>
    </div>
  </div>
</div>
