.ncwb-container {
  display: flex;
  flex-direction: row;
  height: 100%;

  .ncwb-sb {
    flex: 20%;
    background-color: white;
    padding-top: 8%;
    width: 20%;
    height: 100%;
  }

  .ncwb-ro {
    flex: 80%;
  }
}
