<div id="enitityModal" class="entity-modal" *ngIf="showCreateModal">

  <div class="modal-content">
    <span class="close" (click)="onCloseModal()">&times;</span>
    <p class="em-mt">{{modalTitle}}</p>
    <div class="em-fields">
      <div class="em-ft">
        <span class="entity-title-label" >Title:</span>
        <input type="text" [(ngModel)]="title" class="entity-title-val" />
      </div>

      <div class="em-fd">
        <span class="entity-description-label" >Description:</span>
        <textarea [(ngModel)]="description"  class="entity-description-val" ></textarea>
      </div>
    </div>

    <div class="em-cb-container">
      <button class="em-c-btn" (click)="onCreate()">Create</button>
    </div>
  </div>

</div>
