<div class="va-container">
  <div class="va-title">Website Visitor Activity</div>
  <div class="va-list">
    <div class="va-item" *ngFor="let visitorActivity of visitorActivities; let index=index;">
      <div class="va-event-player"  id="{{'va-ep-'+index}}">
        <button class="replay-btn" (click)="handleReplayClick(index, visitorActivity.activityEventsUrl);" id="{{'va-ep-btn-'+index}}">Replay</button>
      </div>
      <div class="va-info">
        <div class="va-city va-info-lc">
          <span class="va-info-label">City:</span>
          <span class="va-info-lv">{{visitorActivity.city}}</span>
        </div>
        <div class="va-region va-info-lc">
          <span class="va-info-label">Region:</span>
          <span class="va-info-lv">{{visitorActivity.region}}</span>
        </div>
        <div class="va-country va-info-lc">
          <span class="va-info-label">Country:</span>
          <span class="va-info-lv">{{visitorActivity.country}}</span>
        </div>
        <div *ngIf="visitorActivity.activityType == Activitytype.FEEDBACK" class=" va-info-lc">
          <span class="va-info-label">Rating</span>
          <span class="va-info-lv">{{visitorActivity.feedbackActivity?.rating}}</span>
        </div>
        <div *ngIf="visitorActivity.activityType == Activitytype.FEEDBACK" class=" va-info-lc">
          <span class="va-info-label">Comment</span>
          <span class="va-info-lv">{{visitorActivity.feedbackActivity?.comment}}</span>
        </div>
        <div *ngIf="visitorActivity.activityType == Activitytype.ERROR" class=" va-info-lc">
          <span class="va-info-label">Error found at</span>
          <span class="va-info-lv">{{visitorActivity.errorActivity?.endpoint}}</span>
        </div>
        <div [ngClass]="{
          'va-type-error': visitorActivity.activityType == Activitytype.ERROR,
          'va-type-feedback': visitorActivity.activityType == Activitytype.FEEDBACK}"
          class="va-type">{{visitorActivity.activityType}}</div>
      </div>
    </div>
  </div>
</div>

