<div class="website-edit-container">

  <div class="website-edit-header">
    <div class="we-back-btn-container">
      <button class="we-back-btn" (click)="handleWebsiteEditBackNav()">
        <img src="assets/entity-edit/back-arrow.png" />
        <span></span>Back
      </button>
    </div>
    <div class="website-edit-title">{{website.title}}</div>
    <div></div>
  </div>

  <div class="website-edit-body">
    <div class="edit-website-tabs" *ngIf="!isEditorMode">
      <div
        class="ee-tab"
        [ngClass]="{ 'ee-tab-active': !isEditorMode }"
        [routerLink]="['/dashboard/website/edit/', website.id]"
        [queryParams]="{ isEditorMode: false }"
      >
        Configuration
      </div>

      <div
        class="ee-tab"
        [ngClass]="{ 'ee-tab-active': isEditorMode }"
        [routerLink]="['/dashboard/website/edit/', website.id]"
        [queryParams]="{ isEditorMode: true }"
      >
        Edit Website
      </div>
    </div>

    <div class="edit-website" *ngIf="isEditorMode">
      <app-enitity-editor
        [html]="website.html"
        [css]="website.css"
        [editorSaveEndpoint]="editorSaveEndpoint"
      ></app-enitity-editor>
    </div>
    <div class="send-website-container" *ngIf="!isEditorMode">
      <!-- <app-send-email></app-send-email> -->
    </div>
  </div>


</div>
