<!-- <div class="website-container">
  <div class="website-title">
    <div>Websites</div>
    <div><button (click)="toggleCreateModal(true)">+ Create</button></div>
  </div>

  <app-entity-list
    [entities]="websites"
    [baseEditUrl]="baseEditUrl"
    (deleteEntity)="deleteWebsite($event)"
  ></app-entity-list>

  <app-entity-create-modal
    [showCreateModal]="showCreateModal"
    [modalTitle]="modalTitle"
    (closeModal)="toggleCreateModal(false)"
    (createEntity)="createWebsite($event)"
  ></app-entity-create-modal>
</div> -->


<app-entity
  [entities]="websites"
  [baseEditUrl]="baseEditUrl"
  [modalTitle]="modalTitle"
  [entityTitle]="entityTitle"
></app-entity>
