.website-container {
  padding-top: 5%;

  .website-title {
    color: #005aad; // TODO: replace this color with a variable using scss variable feature
    font-size: 2rem;
    margin: 0 auto;
    width: 94%;
  }
}
