<div class="send-email-wrapper">
  <div class="se-fel subject-el">
    <div class="se-fel-label">Subject:</div>
    <div class="se-fel-value">
      <input type="text" placeholder="Enter subject" [ngModel]="emailSubject" (ngModelChange)="saveEmailSubject($event)"/>
    </div>
  </div>

  <!-- <div class="se-fel from-email-el">
    <div class="se-fel-label">From Email:</div>
    <div class="se-fel-value">
      <input type="text"  placeholder="Enter from email" />
    </div>
  </div> -->

  <div class="se-fel add-recipients-el">
    <div class="se-fel-label">Add Recipients:</div>
    <div class="se-fel-value">
      <tag-input
        [(ngModel)]='recipients'
        [placeholder]="'Enter recipients'"
        (onAdd)="onTagAdded($event)"
        (onRemove)="onTagRemoved($event)"
      ></tag-input></div>
  </div>

  <div class="se-fel send-email-el">
   <button class="se-btn" (click)="sendEmail()">Send Email</button>
  </div>
</div>
