<div class="sidebar-container">
  <div class="sidebar-icon-container" [routerLink]="'website'" (click)="setActiveModule(DashBoardModules.Website)">
    <div class="sb-ic-wrapper" [ngClass]="{'sbim-active': activeModule == DashBoardModules.Website}">
      <div><img class="sb-icon" src="assets/side-bar/website-builder.svg" /></div>
      <div class="sb-icon-title website-module">Website</div>
    </div>
  </div>
  <div class="sidebar-icon-container" [routerLink]="'email'" (click)="setActiveModule(DashBoardModules.Email)">
    <div class="sb-ic-wrapper" [ngClass]="{'sbim-active': activeModule == DashBoardModules.Email}">
      <div><img class="sb-icon" src="assets/side-bar/email-builder.svg" /></div>
      <div class="sb-icon-title email-module">Email</div>
    </div>
  </div>
  <div class="sidebar-icon-container" [routerLink]="'visitor-activity'" (click)="setActiveModule(DashBoardModules.VisitorActivity)">
    <div class="sb-ic-wrapper" [ngClass]="{'sbim-active': activeModule == DashBoardModules.VisitorActivity}">
      <div><img class="sb-icon" src="assets/side-bar/visitor-activity.svg" /></div>
      <div class="sb-icon-title visitor-activity-module">Visitor Activity</div>
    </div>
  </div>
  <div class="logout-container">
    <div [routerLink]="'auth/logout'">Logout</a>
  </div>
</div>
