<div class="sidebar-container">
  <div class="sidebar-icon-container" [routerLink]="'website'">
    <div class="sb-ic-wrapper">
      <div><img class="sb-icon" src="assets/side-bar/website-builder.svg" /></div>
      <div class="sb-icon-title">Website</div>
    </div>
  </div>
  <div class="sidebar-icon-container" [routerLink]="'email'">
    <div class="sb-ic-wrapper">
      <div><img class="sb-icon" src="assets/side-bar/email-builder.svg" /></div>
      <div class="sb-icon-title">Email</div>
    </div>
  </div>
  <div class="sidebar-icon-container" [routerLink]="'visitor-activity'">
    <div class="sb-ic-wrapper">
      <div><img class="sb-icon" src="assets/side-bar/visitor-activity.svg" /></div>
      <div class="sb-icon-title">Visitor Activity</div>
    </div>
  </div>
</div>
